@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="se:temperature"]{
	font-variant: all-small-caps;
}

#preface header{
	font-variant: small-caps;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	text-align: center;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

section[epub|type~="dedication"] p{
	font-variant: small-caps;
	margin-top: 5em;
	text-align: center;
	text-indent: 0;
}

[epub|type~="z3998:letter"] header{
	margin-bottom: 1em;
	text-align: initial;
}

[epub|type~="z3998:letter"] footer{
	margin-top: 1em;
}

[epub|type~="se:letter.dateline"]{
	font-style: italic;
	text-align: right;
}

.diary-date{
	font-style: italic;
}

[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

figure{
	break-inside: avoid;
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

dd + dt{
	margin-top: 1.5em;
}

table{
	margin: 1em;
	width: 100%;
}

td{
	text-align: center;
	vertical-align: bottom;
	width: 33%;
}

thead{
	font-variant: small-caps;
}

#appendix-2-3 ol{
	list-style: lower-alpha;
}
