@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#programme header{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
	font-variant: small-caps;
}

footer{
	text-align: right;
}

dt{
	margin-top: 0.5em;
	font-variant: small-caps;
}

dd{
	margin-bottom: 0.5em;
	margin-left: 0.5em;
}
